# Токен бота от @BotFather
BOT_TOKEN=your_bot_token_here

# URL веб-сервера (для бота)
BACKEND_URL=https://

# Туннель 
TUNA_TOKEN=your_token

# Окружение Flask
FLASK_ENV=production

# отключить веб-апп, использовать только прямую загрузку
WEBAPP_DISABLED=false
# использовать только веб-апп
WEBAPP_ONLY=false

# Режим отладки
DEBUG=False

# Настройки Gunicorn (для Docker)
GUNICORN_WORKERS=2
GUNICORN_TIMEOUT=1800
GUNICORN_BIND=0.0.0.0:5000
